navbar {
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: slategray;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
