.firstName, .email, .password, .icon-background {
    display: inline-block;
}

.input-style {
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
}

.input-style:last-child {
    /* margin-bottom: 0px; */
}

.btn-danger {
    width: 20.5%;
    border-radius: 5px;
}